[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
"starlette.context" = "*"
requests = "*"

[dev-packages]
uvicorn = "*"
flake8 = "*"

[requires]
python_version = "3.10"
